.chartBox{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

.chartPlaceholder{
  height:220px;
  background:#f1f2f6;
  margin-top:15px;
  border-radius:6px;
}